*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible Next", serif;
}

header{
    padding: 10px 0;
    background-color: #255EE9;
    font-size: 18px;
}

footer{
    padding: 25px 0 0 0;
    font-size: 25px;
}

.container{
    margin: 0 auto;
    max-width: 1350px;
}

.container-sm{
    max-width: 870px;
    margin: 0 auto;
    display: flex; 
}

a{
    text-decoration: none;
    color: inherit;
}

.d-flex{
    display: flex;
}

.inline-block{
    display: inline-block;
}

.column-direction{
    flex-direction: column
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.header-content ul{
    list-style: none;
    margin: 0 10px;
}

.header-content ul li{
    display: inline-block;
    margin: 0 10px;
    transition: all 0.5s ease-out;
}

/* Utility */
.bg-yellow{
    background-color: #DAA51E;
}

.bg-blue{
    background-color: #255EE9;
}

.bg-blue1{
    background-color: #1E90FF;
}

.bg-lightblue{
    background-color: #20B3AA;
}

.bg-lightblue1{
    background-color: #7FFFD4;
}

.bg-pink{
    background-color: #EF82ED;
}

.bg-pink1{
    background-color: #FFC0CA;
}

.bg-pink2{
    background-color: #FFB4C7;
}

.bg-pink2{
    background-color: #F08180;
}

.bg-grey{
    background-color: #F6F6F6;
}

.bg-green{
    background-color: #218B21;
}

.bg-dark{
    background-color: #23272A;
}


.full-col{
    width: 90%;
}

.flex-grow-2{
    flex-grow: 2;
}

.flex-grow-1{
    flex-grow: 1;
}


.col-10{
    width: 10%;
}

.col-20{
    width: 20%;
}

.col-15{
    width: 15%;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%; 
}

.col-75{
    width: 75%; 
}


.dashed{
    border: 3px dashed black;
}

.dashed-white{
    border: 3px dashed white;
}

.bored{
    border: 1px solid red;
}

.mt-blue{
    border-top: 3px solid #5865F2;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}


.h-350{
    min-height: 350px;
}

.h-500{
    min-height: 500px;
}

.h-800{
    min-height: 800px;
}

.py-50{
    padding: 50px 0;
}

.py-100{
    padding: 100px 0;
}

.py-20{
    padding: 20px 0;
}

.p-8{
    padding: 8px;
}

.p-18{
    padding: 18px;
}

.px-18{
    padding: 0 18px;
}

.m-50{
    margin: 50px auto;
}

.mr-10{
    margin-right: 10px;
}

.m-250{
    margin: 250px auto;
}

.mt-3{
    margin-top: 3px
}

.mt-20{
    margin-top: 20px
}

.my-30{
    margin: 30px 0;
}

.mx-10{
    margin: 0 10px;
}

.mx-100{
    margin: 0 100px;
}

.text-white{
    color: white;
}

.text-discord{
    color: #5865F2;
    font-size: 25px;
}

.btn{
    border-radius: 20px;
    padding: 10px 20px;
    transition: all 0.5s ease-out;
}

.btn-footer{
    border-radius: 20px;
    padding: 10px;
}

.btn-white{
    background: #fff;
    color: #000;
}

.btn-black{
    background: #000;
    color: #fff;
}

.btn-blue{
    background-color: #5865F2;
    color: #fff;
}

.font-size-20{
    font-size: 20px;
}

.font-weight-800{
    font-weight: 800;
}

.font-weight-600{
    font-weight: 600;
}

.line-h-big{
    line-height: 1.8;
}

.section-title{
    font-size: 50px;
    padding: 20px;
}

.section-description{
    padding: 25px;
}

/* Section Jumbo */
.jumbo{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.one-col-img{
    width: 100%;
}

.pre-footer{
    background-image: url('../img/stars.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Footer */
.footer-title{
    font-size: 45px;
    color: #5865F2;
    font-weight: 600;
}

.img-flag{
    width: 6%;
}

.menu-column {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.menu-column li{
    margin: 15px 0;
}

.menu-column li:first-child{
    color: #5865F2;
}

.menu-column li{
    transition: all 0.5s ease-out;
}

.icons i{
    transition: all 0.5s ease-out;
}

/* Hover -- BONUS */

.cursor-pointer{
    cursor: pointer;
}

.header-content ul li:hover{
    color: #000;
}

.col-20 ul li:hover{
    color: #5865F2;
}

.menu-column li:first-child:hover{
    color: #fff;
}

.icons i:hover{
    color: #5865F2;
}

.btn-white:hover{
    background: #000;
    color: #5865F2
}

.btn-black:hover{
    background: #fff;
    color: #5865F2;
}

.btn-blue:hover{
    background-color: #000;
    color: #5865F2;
}

a.active{
    color: gold
}

.img-jumbo2{

}

.jumbo2 img {
    width: 80%;
}

.bg-dark{
    background-color: #23272A;
}

.article-title{
    font-size: 50px;
    margin-bottom: 10px;
}

.profile-pic img{
    width: 80%;
}

.article-text{
    line-height: 1.5;
    font-size: 25px;
    font-weight: 200;

}

.article-heading{
    padding: 20px;
}

.article-highlight {
    font-size: 24px;
    font-weight: 700;
    color: #5865F2;
}

.special-paragraph {
    padding-left: 20px;
    margin: 18px 0;
  }
  
  .special-paragraph::before {
    content: "—";
    color: #5865f2;
  }

  .article-text img{
    width: 30%;
  }

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    margin-top: 10px;
}

.sidebar ul li:hover{
    color: #5865f2;
    text-decoration: underline;
}

.border-right{
    border-right: 2px solid #5865f2; 
}